<!-- Partial for user without tutor role -->

<div id='not_tutor'>
    <p>You have not yet activated your Tutor account.  To register as a Tutor, please click <%= link_to "here", edit_user_registration_path(current_user) %>.</p>
</div>
