<!-- Partial for user without organization role -->
<div id='not_org'>
	<p>You do not currently manage an Organization.  To register an Organization, please click <%= link_to "here", edit_user_registration_path(current_user) %>.</p>
</div>