<!-- Partial for user with organization role -->
                    
<div id='Org_Content_View_Options' class="tabs">
    <ul class="secondary_tabs">
	   <li><a href="#org_programs">Programs</a></li>
	   <li> <a href="#org_students_tutors" >Students and Tutors</a></li>
    </ul>

	<div id='org_students_tutors'>
		<p>//Coming soon</p>
	</div>

	<div id='org_programs'>
		<input type='submit' value='Add Program' id='Add Program'/>
		<ul class="programs_list">
			<% @programs.each do |program| %>
				<li><%= program.name %>
					<p>Description:<%= program.descrip %></p>
					<p>Type:<%= program.type %></p>
				</li>
			<% end %>
		</ul>
	</div>
</div>

