<!-- Partial for user with student role -->

<div class="tabs" id='student_content_View_Options'>
	<ul class="secondary_tabs">
		<li><a href="#current_groups">My Groups</a></li>
		<li><a href="#watchlist">Tutor Watchlist</a></li>
	</ul>


	<div id='current_groups' class="small_button">
		<h2>My Groups</h2>
		<%= render 'student_groups_tab', :groups_type => "student"%>
	</div>


	<div id='watchlist'>
		<h2>Watchlisted Tutors</h2>
		<%if @tutor_watchlist %>
		<ul>
			<% @tutor_watchlist.tutor_ids.each do |t|%>
			<li>
				<% u = User.find(t.tid) if t.tid%>
					<%=link_to u.full_name, u%>
			</li>
			<% end %>
		</ul>
		<% end%>
	</div>
	
</div>

