
<%= content_for :header do %>
    <% stylesheet_link_tag 'groups',:media => :all %>
    <% javascript_include_tag 'groups' %>
    <% stylesheet_link_tag 'table_style',:media => :all %>
<% end %>

<div class="tabs">
    <ul class="secondary_tabs">
        <li><a href="#groups_view">Groups</a></li>
        <li><a href="#search_students_view">Students</a></li>
    </ul>
    <div id='groups_view'  class="small_button">
        <h2>My Groups</h2>
        <%= render 'groups_tab' %>
    </div>

    <div id='search_students_view'>
        <h2>Search Students</h2>
        <p>//Coming soon</p>
    </div> 
</div>