<%= stylesheet_link_tag    "signup", :media => "all" %>
<script language="JavaScript">
	
</script>
<form name="signup">
	<div class="form_element" ><label>First Name: </label><input type="text" size="20" name="first_name"/></div><br/>
	<div class="form_element" ><label>Last Name: </label> <input type="text" size="20" name="last_name"/></div><br/>
	<div class="form_element" ><label>Email:</label> <input type="text" size="30" name="email"/></div><br/>
	<div class="form_element" ><label>Password:</label> <input type="password" size="25" maxlength="20" name="password"/></div><br/>
	<div class="form_element" ><label>Confirm Password:</label> <input type="password" size="25" maxlength="20" name="password_confirm"/></div><br/>
	<div class="form_element"><label>Account Type:</label> 
		<input type="radio" name="account_type" id="student" value="student" checked="checked" onChange="showStudent()"/> <label for="student">Student</label>
		<input type="radio" name="account_type" id="tutor" value="tutor" onChange="showTutor()"/> <label for="tutor">Tutor</label>
		<input type="radio" name="account_type" id="org" value="org" onChange="showOrg()"/> <label for="org">Organization</label>
	</div>
	<br/>
	<div class="form_element"><input type="submit" name="type" value="Register"/></div>

	<div id="student_elems">

	</div>

	<div id="tutor_elems">

	</div>

	<div id="org_elems">

	</div>

</form>
