<p id="notice"><%= notice %></p>

<% if current_user && current_user.id == Organization.where(:id => @program.organization_id).first.user_id %>
	<%= link_to 'Edit', edit_program_path(@program) %>
<% end %>
