<%= form_for(@group) do |f| %>

	<p>
		Need drop down menu for selecting course 
		...which needs Sher Minn's ninja javascript skillz 
		...but Josh will help 
		...others welcome
	</p>

	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	
	<div class="actions">
    	<%= f.submit %>
  	</div>

<% end %>