<p>Group Index Page</p>

<%= link_to 'Create New Group', new_group_path %>

<br />

<%= @groups.each do |group| %>
	<div class="group">
		<%= link_to group.name.humanize, group_path(group)%>
	</div>
	<br />

<% end %>
