<p>Pardon the dust, site under construction!</p>

<h1>Welcome to Tuter!</h1>
<p>Search for tutors on the University of Wisconsin-Madison campus.</p>


<div id="signupzone">
    <!-- buttons w/ paths to come  -->

    <h2>New to Tuter?</h2>
    <ul>
        <li>Tutor</li>
        <li>Student</li>
        <li>Organization</li>
    </ul>
</div>
