<%= content_for :header do%>
    <%= stylesheet_link_tag "home", :media => "all" %>
<% end %>

<p>Pardon the dust, site under construction!</p>

<ul class="horizontal_links">
    <li><a>About</a></li>
    <li><a>Contact</a></li>
    <li><a>Blog</a></li>
</ul>

<h1 class="inline">Tuter</h1>
<h2 class="inline">The Ultimate Tutor Finder</h2>

<div>
    <div id="home_sidebar">
        <h2 class="first_h">Find Tutors</h2>
        <input type="text" name="search"/>

        <h2>Sign up</h2>
        <ul class="button_list">
            <li>Tutor</li>
            <li>Student</li>
            <li>Organization</li>
        </ul>

        <h2>
    </div>

    <div id="map_div">
        <h2 class="first_h">Map</h2>
        <div id="google_map"></div>
    </div>
</div>