<!--Profile Sidebar

Profile Picture
Name
Affiliation
Contact
social Media Links
Edit Profile
Search

=======================
Student Tab view
-Content View Options
	-Current Groups View and Add Group button
	-Watchlist and Add More Watchlist button

=======================
Tutor Tab view
-Activate Tutor Account
-Content View Options
	-Groups View with Create Group and Edit Group button
-Search Students View
	-Search Students
	-Results

=======================
Organization Tab View
-Content View Options
	-Students and Tutors table and remove users button
	-Programs
-->
<style type="text/css">
.profileBar {
	height: 100%;
	float: left;
	background: #ccc;
	padding-top:5px;
	padding-left:10px;
	padding-bottom: 10px;
	width: 200px;
	margin-right:15px;
	margin-bottom: 0;
}
</style>

<div class="profileBar">

<img src="USER PROFILE PIC" alt="This is supposed to be a profile picture, here XXX">
<br/><br/><br/>
<div>User.Name</div>
<script type="JavaScript">
	//for each affiliation that user belongs to 
	//for(var i; i<numOrgs; i++){
		//echo <div><a href="orgpage">Affiliation NAME</a></div> -- <div>Affiliation Type (Student/Tutor)</div>
	//}

</script>
<div><a >Affiliation #1</a> --Student</div>
<div><a>Affiliation #2</a> --Tutor </div>
<br/>
<div>User.email</div>

<div>User.Social_Media_Links</div>
<form>
	<input type="submit" name="edit" value="Edit Profile" />
</form>

</div>




