	<!--function generateProfileButtons(){
		var htmlstring="";
		if(current_user.has_one(StudentRole)){
			htmlstring+="<input type=\"submit\" name=\"student\" value=\"Student Profile\">";
		}
		if(current_user.has_one(TutorRole)){
			htmlstring+="<input type=\"submit\" name=\"tutor\" value=\"Tutor Profile\">";
		}
		if(current_user.has_one(OrganizationRole)){
			htmlstring+="<input type=\"submit\" name=\"org\" value=\"Organization Profile\">";
		}			

		var tableAnchor=document.getElementById('profileButtons');
		tableAnchor.innerHTML=htmlString;
	}-->

<script type="JavaScript">

	function generateProfileButtons(){
		var htmlstring="";
		htmlstring+="<input type=\"submit\" name=\"student\" value=\"Student Profile\">";
		htmlstring+="<input type=\"submit\" name=\"tutor\" value=\"Tutor Profile\">";
		htmlstring+="<input type=\"submit\" name=\"org\" value=\"Organization Profile\">";
		var tableAnchor=document.getElementById('profileButtons');
		tableAnchor.innerHTML=htmlString;
	}
		 
	window.onload=generateProfileButtons;

</script>

<h3><%=current_user.first_name%> <%=current_user.last_name%></h3>

<form>
<div id="profileButtons"></div>
</form>

<img src="USER PROFILE PIC" alt="This is supposed to be a profile picture, here XXX">
<br/><br/><br/>

<script type="JavaScript">
	//for each affiliation that user belongs to 
	//for(var i; i<numOrgs; i++){
		//echo <div><a href="orgpage">Affiliation NAME</a></div> -- <div>Affiliation Type (Student/Tutor)</div>
	//}

</script>
<div><a >Affiliation #1</a> --Student</div>
<div><a>Affiliation #2</a> --Tutor </div>
<br/>
<div><%=current_user.email%> </div>

<div>User.Social_Media_Links</div>
<form>
	<input type="submit" name="edit" value="Edit Profile" />
</form>






