<%= stylesheet_link_tag    "signup", :media => "all" %>
<script language="JavaScript">
	
</script>
<form name="signup">
	<div class="form_element" ><label>Email Address:</label> <input type="text" size="30" name="email"/></div><br/>
	<div class="form_element" ><label>Password:</label> <input type="password" size="25" maxlength="20" name="password"/></div><br/>
	<div class="form_element"><input type="submit" name="type" value="Login"/></div>
	<div class="form_element"><input type="submit" name="type" value="Forgot"/></div>
	<br/>
</form>
<a href="/signup">Don't have an account?</a>
<a></a>