<h3>Update Courses</h3>
<%= form_for [resource_name, resource.with_course], :url => registration_path(resource_name)  do |f| %>
  <% f.fields_for :courses do |c| %>
    <div class="field">
      <%= c.label :name %>
      <%= c.text_field :name %>
    </div>
    <div class="action">
      <label></label>
      <%= c.submit %>
    </div>
  <% end %>
<% end %>
