<h1>Editing Time Slot</h1>

<%= render 'form' %>
 <div class="small_button unimp">
            <%= button_to "Delete", [@day_availability.week_availability, @day_availability],:data => { :confirm => "Are you sure?" }, :method => :delete %>
</div>
 <%= link_to 'Back', week_availability_path %>
