body {
  background-color: #eeeeee;
  font-family: "Open Sans", Helvetica, Arial; }

div#wrapper {
  width: 700px;
  margin: 0 auto;
  background-color: white; }
div#maincontent {
  padding: 12px; }

header {
  background-color: #2185c5;
  color: #eeeeee;
  font-weight: bold;
  overflow: auto;
  padding: 12px;
  padding-left: 0; }

nav {
  padding: 0; }
  nav ul {
    padding: 0;
    margin: 0; }
    nav ul#nav_user {
      float: right;
      clear: right; }
      nav ul#nav_user li {
        border-left: 1px solid #15547d; }
    nav ul#nav_all {
      float: left;
      clear: left; }
      nav ul#nav_all li {
        border-right: 1px solid #15547d; }
  nav li {
    display: inline;
<<<<<<< HEAD
    padding: 12px;
    border-right: 1px solid #15547d; }
  nav div {
    float: right; 
    clear: none; }
=======
    padding: 12px; }
    nav li a {
      color: white;
      text-decoration: none; }
>>>>>>> 8bf532421a4db63707c2200648d8ab6aef1b4b3e

section {
  padding: 8px; }

h1, h2, h3 {
  color: #3e454c; }
