body {
  background-color: #eeeeee;
  font-family: "Open Sans", Helvetica, Arial; }

div#wrapper {
  width: 700px;
  margin: 0 auto;
  background-color: white; }
div#maincontent {
  padding: 12px; }

header {
  background-color: #2185c5;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2185c5), to(#15547d));
  background-image: -webkit-linear-gradient(top, #2185c5, #15547d);
  background-image: -moz-linear-gradient(top, #2185c5, #15547d);
  background-image: -ms-linear-gradient(top, #2185c5, #15547d);
  background-image: -o-linear-gradient(top, #2185c5, #15547d);
  background-color: #2185c5;
  color: #eeeeee;
  font-weight: bold;
  overflow: visible;
  padding: 12px;
  padding-left: 0; }

nav {
  padding: 0; }
  nav ul {
    padding: 0;
    margin: 0; }
    nav ul#nav_user {
      float: right;
      clear: right; }
    nav ul#nav_al {
      float: left;
      clear: left; }
  nav li {
    display: inline;
    padding: 12px;
    border-right: 1px solid #15547d; }

section {
  padding: 6px; }

h1, h2, h3 {
  color: #3e454c; }
