@import "./application"
@import "./form_style"
@import "./user_profile"


@mixin custom_a
    text-decoration: none
    font-size: large

@mixin tab_li
    display: inline
    margin-right: -4px
    padding: $medium_space
    border: 1px solid $light_grey

div
    $div_width: $content_width - $sidebar_width - 7 * $big_space
    &.tabs
        float: right
        clear: right
        margin: $big_space
        div
            background-color: $light_grey

            div, ul
                float: none
                padding: $medium_space
            // margin-top: 0
            // padding: $big_space * 1

        ul#main_tabs
            list-style: none
            display: block

            li 
                @include tab_li
                background-color: $blue


            a
                @include custom_a
                font-weight: bold
                color: $white

        ul.secondary_tabs
            display: table
            width: 100%
            list-style: none
            li
                @include tab_li
                display: table-cell
                text-align: center
                border: 1px solid $grey
                
            a
                @include custom_a
    &#main_tab_container
        width: $div_width
        

    &#spacer
        height: $big_space
        
.ui-state-default
    background-color: $white
.ui-tabs-active, .ui-state-active
    background-color: $light_blue
    a 
        color: $white
.ui-state-hover 
    background-color: $red 
    a 
        color: $white
.ui-tabs-anchor
    color: $dark-grey
    font-weight: bold