@import "./application"
@import "./user_profile"
@import "./form_style"

@mixin custom_a
    text-decoration: none
    font-size: large

@mixin tab_li
    display: inline
    margin-right: -4px
    padding: $medium_space
    border: 1px solid $light_grey

h2
    margin-left: $big_space
div
    ul
        list-style-type: none
    $div_width: $content_width - $profile_sidebar_width - 5 * $big_space
    &.tabs
        float: right
        clear: right
        > div
            background-color: $light_grey
            display: block
            > div, ul
                float: none
                padding: $medium_space

        ul#main_tabs
            list-style: none
            display: table

            li 
                @include tab_li
                display: table-cell
            a
                @include custom_a
                font-weight: bold

        ul.secondary_tabs
            display: table
            width: 95% //so tabs don't overflow due to added padding
            margin:
                left: auto
                right: auto
            list-style: none
            li
                @include tab_li
                display: table-cell
                text-align: center
            a
                @include custom_a

    &#group_controls
        display: block

    &#main_tab_container
        width: $div_width

    &#spacer
        height: $big_space

    &#new_group 
        background-color: $white
        clear: both
        padding: $big_space 
        @include center
        margin-top: $medium_space

    
.secondary_tabs
    .ui-state-default
        background-color: $white
    .ui-tabs-active, .ui-state-active
        background-color: $red
        a 
            color: $white
    .ui-state-hover 
        background-color: $grey 
        a 
            color: $white
    .ui-tabs-anchor
        color: $dark-grey
        font-weight: bold  

#main_tabs
    .ui-state-default
        background-color: $white
        a 
            color: $grey
    .ui-tabs-active, .ui-state-active
        background-color: $light_grey
        a 
            color: $red
    .ui-state-hover 
        background-color: $red 
        a 
            color: $white
    .ui-tabs-anchor
        color: $dark-grey
        font-weight: bold

table 
    input[type="submit"]
        background-color: $grey
        display: inline
        float: right
    ul
        list-style-type: none

input 
    &.create_new 
        float: left
        margin-bottom: $big_space

ul.programs_list
    li 
        border-bottom: 1px solid $grey
        padding: $medium_space

        h4 
            padding: 0

div#watchlist
    ul 
        list-style-type: circle
        margin-left: $big_space * 2