@import './application'
@import './form_style'
div
    &.grey
    &.group
        margin: $medium_space
        background-color: $light-grey
        margin-left: $big_space * 4
        width: 500px
        ul 
            list-style: none

            li
                padding: $big_space
                border-bottom: 1px solid $grey


    &#new_group 
        background-color: $light-grey
        width: 400px
        display: block
        padding: $big_space * 2
        margin:
            right: auto
            left: auto