@import "./application"
@import "./profile_sidebar"

div
    &#maincontent
        display: table
        float: none

    &#org_profile
        @include profile_sidebar
        
    &#org_programs_container
        @include profile_main

        ul 
            list-style-type: none
            
            li 
                background-color: $white
                padding: $big_space
                margin-bottom: $big_space