@import './application'

div#maincontent
    display: table
    div
        float: none
div#reviews_container
    vertical-align: top
    display: table-cell

    div#reviews 
        background-color: $light_grey
        margin-left: $big_space
        padding: $big_space * 2

        h1 
            margin-top: 0

        ul 
            list-style-type: none
            li 
                background-color: $white
                padding: $big_space
                margin-bottom: $medium_space

                span
                    font-size: small
                    &.review_content
                        display: block
                        font-size: medium
                    &.time 
                        font-style: italic
                        float: right
                        color: $grey
                    &.review_rating
                        float: right
                    &.review_recommended
                        font-weight: bold



            p, h4
                margin: 0
                padding: $little_space
            h4 
                border-bottom: 1px solid $light_grey
    div.new_review h3 
        margin:
            bottom: 0
            top: $big_space * 4

    form.new_review
        display: block
        padding: 0

        input[type=text], input[type='submit'], textarea
            margin-left: 0
        label 
            width: auto

        div
            input[type=text], textarea
                display: block
                width: 400px
            &.rating
                float: right
                margin-left: $big_space
            &.recommend

                form label 
                    margin-right: $medium_space
            &.title
            &.content

div#profile
    display: table-cell
