@import ./application

table.schedule
    margin: $big_space* 2 auto
    width: 100%

    th 
        padding: $big_space
        color: $white
        background-color: $red
    td 
        text-align: center

div.new_time_slot
    margin: 
        bottom: $big_space * 2
    form 
        margin: 0
        width: 100%
        div, label, select, input
            display: inline
