@import "./application"
@import "./form_style"

$sidebar_width: 200px

div
    &#sidebar
        overflow: auto
        width: $sidebar_width
        background-color: $light_grey
        padding:  $big_space
        float: left
        clear: left

    &#results
        width: $content_width - $sidebar_width - $big_space * 5
        background-color: $light_grey
        padding: $big_space
        float: right
        clear: right

h2
    margin-top: 0

form
    input 
        @include form_input_style
        margin: 0
    
    div.form_element
        display: block
        clear: left


        label 
            font-weight: bold
            color: $dark_grey
            text-align: left
            float: left
            width: auto
            padding: 0
            &.checkbox
                float: none
                clear:none
            &.helper_text
                @include small_text
                font-style: italic
                float: right

        div.checkbox_group
            display: table
            clear: left
            label
                display: table-cell
                vertical-align: middle
                padding: 0
                padding-left: $big_space
            input
                display: table-cell
                height: 20px
                vertical-align: -3px

table
    width: 100%
    font-size: small
    th 
        background-color: $blue
        color: $white
        padding: $little_space
        
    td
        color: $grey
        background-color: $white
        text-align: center