body {
  background-color: #eeeeee;
  font-family: "Open Sans", Helvetica, Arial;
  margin: 0;
  color: #3e454c; }

div#wrapper {
  background-color: white; }
div#maincontent {
  margin: 0 auto;
  width: 900px;
  padding: 12px; }

header {
  background-color: #2185c5;
  color: #eeeeee;
  padding: 12px;
  overflow: auto;
  overflow-x: hidden; }

nav {
  margin: 0 auto;
  width: 900px;
  font-weight: bold;
  font-size: small;
  padding: 0; }
  nav ul {
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0; }
    nav ul li {
      display: inline;
      margin: 0;
      padding: 12px; }
      nav ul li:hover {
        background-color: #7ecefd; }
    nav ul a {
      color: white;
      text-decoration: none; }
    nav ul#nav_user {
      float: right; }
      nav ul#nav_user li {
        border-left: 1px solid #497099; }
    nav ul#nav_all {
      float: left; }
      nav ul#nav_all li {
        border-right: 1px solid #497099; }

section, footer {
  padding: 8px; }

footer {
  clear: both;
  margin: 0 auto;
  width: 900px; }
  footer p {
    font-size: small;
    font-style: italic;
    color: #666666; }

h1, h2, h3 {
  color: #3e454c; }

a {
  color: #ff7f66; }

div#alerts_and_notice p {
  margin: 0;
  text-align: center;
  font-weight: bold;
  color: white; }
  div#alerts_and_notice p.alert {
    background-color: #ff7f66; }
  div#alerts_and_notice p.notice {
    background-color: #10c556; }

ul {
  padding: 0;
  margin: 0; }
  ul.button_list {
    margin: 0 auto;
    list-style: none; }
    ul.button_list li {
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -khtml-border-radius: 4px;
      border-radius: 4px;
      padding: 8px;
      background-color: #2185c5;
      color: white;
      font-weight: bold;
      text-align: center;
      margin-bottom: 4px; }

body {
  background-color: #eeeeee;
  font-family: "Open Sans", Helvetica, Arial;
  margin: 0;
  color: #3e454c; }

div#wrapper {
  background-color: white; }
div#maincontent {
  margin: 0 auto;
  width: 900px;
  padding: 12px; }

header {
  background-color: #2185c5;
  color: #eeeeee;
  padding: 12px;
  overflow: auto;
  overflow-x: hidden; }

nav {
  margin: 0 auto;
  width: 900px;
  font-weight: bold;
  font-size: small;
  padding: 0; }
  nav ul {
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0; }
    nav ul li {
      display: inline;
      margin: 0;
      padding: 12px; }
      nav ul li:hover {
        background-color: #7ecefd; }
    nav ul a {
      color: white;
      text-decoration: none; }
    nav ul#nav_user {
      float: right; }
      nav ul#nav_user li {
        border-left: 1px solid #497099; }
    nav ul#nav_all {
      float: left; }
      nav ul#nav_all li {
        border-right: 1px solid #497099; }

section, footer {
  padding: 8px; }

footer {
  clear: both;
  margin: 0 auto;
  width: 900px; }
  footer p {
    font-size: small;
    font-style: italic;
    color: #666666; }

h1, h2, h3 {
  color: #3e454c; }

a {
  color: #ff7f66; }

div#alerts_and_notice p {
  margin: 0;
  text-align: center;
  font-weight: bold;
  color: white; }
  div#alerts_and_notice p.alert {
    background-color: #ff7f66; }
  div#alerts_and_notice p.notice {
    background-color: #10c556; }

ul {
  padding: 0;
  margin: 0; }
  ul.button_list {
    margin: 0 auto;
    list-style: none; }
    ul.button_list li {
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -khtml-border-radius: 4px;
      border-radius: 4px;
      padding: 8px;
      background-color: #2185c5;
      color: white;
      font-weight: bold;
      text-align: center;
      margin-bottom: 4px; }

form, div.centered_form {
  margin-right: auto;
  margin-left: auto;
  display: table; }

div.form_element {
  display: table;
  padding-bottom: 12px; }
  div.form_element input {
    display: table-cell;
    vertical-align: middle; }
  div.form_element label {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    width: 100px;
    text-align: right; }
  div.form_element textarea {
    margin-left: 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #eeeeee;
    padding: 8px;
    height: 150px; }
    div.form_element textarea[type="text"] {
      margin-right: 0; }
    div.form_element textarea[type="checkbox"] + label {
      font-weight: normal;
      font-size: small;
      color: #666666;
      color: #3e454c; }
    div.form_element textarea[type="submit"] {
      font-weight: bold;
      font-size: large;
      color: white;
      padding: 12px;
      background-color: #2185c5;
      float: right; }

input {
  margin-left: 12px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  padding: 8px; }
  input[type="text"] {
    margin-right: 0; }
  input[type="checkbox"] + label {
    font-weight: normal;
    font-size: small;
    color: #666666;
    color: #3e454c; }
  input[type="submit"] {
    font-weight: bold;
    font-size: large;
    color: white;
    padding: 12px;
    background-color: #2185c5;
    float: right; }

div.field_with_errors {
  display: table-cell;
  vertical-align: middle; }
  div.field_with_errors input {
    border: 2px #ff7f66 solid; }

div#error_explanation {
  border: 2px solid #ff7f66;
  padding: 12px;
  margin-bottom: 48px; }
  div#error_explanation h2 {
    text-align: center;
    font-size: large;
    color: red; }

div#sidebar {
  overflow: auto;
  width: 200px;
  background-color: #eeeeee;
  padding: 12px;
  float: left;
  clear: left; }
div#results {
  width: 640px;
  background-color: #eeeeee;
  padding: 12px;
  float: right;
  clear: right; }

h2 {
  margin-top: 0; }

form input {
  margin-left: 12px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  padding: 8px;
  margin: 0; }
  form input[type="text"] {
    margin-right: 0; }
  form input[type="checkbox"] + label {
    font-weight: normal;
    font-size: small;
    color: #666666;
    color: #3e454c; }
  form input[type="submit"] {
    font-weight: bold;
    font-size: large;
    color: white;
    padding: 12px;
    background-color: #2185c5;
    float: right; }
form div.form_element {
  display: block;
  clear: left; }
  form div.form_element label {
    font-weight: bold;
    color: #3e454c;
    text-align: left;
    float: left;
    width: auto;
    padding: 0; }
    form div.form_element label.checkbox {
      float: none; }
    form div.form_element label.helper_text {
      font-weight: normal;
      font-size: small;
      color: #666666;
      font-style: italic;
      float: right; }
  form div.form_element div.checkbox_group {
    display: table;
    clear: left; }
    form div.form_element div.checkbox_group label {
      display: table-cell;
      vertical-align: middle;
      padding: 0;
      padding-left: 12px; }
    form div.form_element div.checkbox_group input {
      display: table-cell;
      height: 20px;
      vertical-align: -3px; }

table {
  width: 100%;
  font-size: small; }
  table th {
    background-color: #2185c5;
    color: white;
    padding: 4px; }
  table td {
    color: #666666;
    background-color: white;
    text-align: center; }
