@import './application'

table 
    @include center
    border-collapse: collapse
    tr
        @include border_bottom ($grey)
        th 
            border-bottom: 2px solid $grey
        td, th
            padding: $medium_space 

        &:nth-child(even)
            background-color: rgba($white, 0.8)
    p 
        margin: 0
        padding: $little_space
        font-size: small
        font-style: italic
