@import "./application"


div
    &#profile
        width: 300px
        background-color: $light_grey
        padding: $big_space * 2

        h2
            margin: $medium_space

        h3
            border:
                bottom: 1px $grey solid

        ul 
            list-style: none