@import "./application"


div
    display: block
    &#profile
        float: left
        width: $profile_sidebar_width
        background-color: $light_grey
        padding: $big_space * 2
        img 
            display: block
            margin: auto
            padding-bottom: $big_space
        h2
            margin: $medium_space
            padding-left: 0
            margin-left: 0

        h3
            border:
                bottom: 1px $grey solid

        ul 
            list-style: none

        form 
            display: block

            div
                margin: 
                    top: $big_space
                    left: 0

                input
                    margin: 0