@import "./application"
@import "./form_style"
@import "./profile_sidebar"


div
    display: block
    &#profile
        @include profile_sidebar
        
.map_container
    margin: 
        top: 0
        bottom: $big_space
        left: auto
        right: auto
    width: auto
    margin-left: $big_space
    padding: $big_space

.gmaps4rails_map
    height: 300px
    width: auto
