<!DOCTYPE html>
<html>
Pardon the dust, site is currently under construction!
      <div id="signupzone">
        <!-- buttons w/ paths to come  -->
        <strong><p>New to Tuter?</p></strong>
        I am a...<br />

        <!-- <%= button_to "Student", new_user_registration_path %> -->
      </div>

      <div id="listzone">
        tuter list here
      </div>  
</html>