<!DOCTYPE html>
<html>
<head>
  <title>Tuter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

    <div id="wrapper">
        <header>
            <nav>
                <ul id="nav_all">
                    <li>Home</li>
                    <li>Find a Tutor</li>
                    <li>Be a Tutor</li>
                </ul>
            </nav>
        </header>

        <div id="maincontent">

        <%= yield %>
        </div>

    </div>
</body>
</html>
